In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/Notebook/salg.csv")
data

     sky airtemp humidity    wind water forecast enjoysupport
0  sunny    warm   normal  strong  warm     same          yes
1  sunny    warm     high  strong  warm     same          yes
2  rainy    cold     high  strong  warm   change           no
3  sunny    warm     high  strong  cool   change          yes

In [ ]:
input=np.array(data)[:,:-1]
input

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [ ]:
target = np.array(data)[:,-1]
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [ ]:
def tarin(c,t):
  for i,val in enumerate(t):
    if val=='yes':
      specific_hyp=c[i].copy()
      break
  for i,val in enumerate(c):
    if t[i]=='yes':
      for j in range(len(specific_hyp)):
        if val[j]!=specific_hyp[j]:
          specific_hyp[j]='?'
        else:
          pass
  return specific_hyp

In [ ]:
print(tarin(input,target))

['sunny' 'warm' '?' 'strong' '?' '?']

In [ ]:
l=['gopi','gfh','kjfvh']
for i,j in enumerate(l):
  print(i,":",j)

0 : gopi
1 : gfh
2 : kjfvh