In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/Notebook/salg.csv")
data

     sky airtemp humidity    wind water forecast enjoysupport
0  sunny    warm   normal  strong  warm     same          yes
1  sunny    warm     high  strong  warm     same          yes
2  rainy    cold     high  strong  warm   change           no
3  sunny    warm     high  strong  cool   change          yes

In [ ]:
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score, precision_score, accuracy_score

In [ ]:
x=data.iloc[:,:-1]
x

     sky airtemp humidity    wind water forecast
0  sunny    warm   normal  strong  warm     same
1  sunny    warm     high  strong  warm     same
2  rainy    cold     high  strong  warm   change
3  sunny    warm     high  strong  cool   change

In [ ]:
y=data.iloc[:,-1]
y

0    yes
1    yes
2     no
3    yes
Name: enjoysupport, dtype: object

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
model=DecisionTreeClassifier(max_depth=3)

In [ ]:
data

array([['0', '0', '0', '0', '0', '0', 'yes'],
       ['1', '0', '0', '0', '0', '0', 'yes'],
       ['2', '0', '0', '0', '0', '0', 'no'],
       ['3', '0', '0', '0', '0', '0', 'yes']], dtype='<U21')

In [ ]:
input=np.array(data)[:,:-1]
input

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [ ]:
target = np.array(data)[:,-1]
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [ ]:
def tarin(c,t):
  for i,val in enumerate(t):
    if val=='yes':
      specific_hyp=c[i].copy()
      break
  for i,val in enumerate(c):
    if t[i]=='yes':
      for j in range(len(specific_hyp)):
        if val[j]!=specific_hyp[j]:
          specific_hyp[j]='?'
        else:
          pass
  return specific_hyp

In [ ]:
print(tarin(input,target))

['sunny' 'warm' '?' 'strong' '?' '?']